<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
      </a>

      <a routerLink="/"
        [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="is-active"
        class="nav-item is-tab is-hidden-mobile">
        Home
      </a>

      <a routerLink="/about"
        [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="is-active"
        class="nav-item is-tab is-hidden-mobile">
        About
      </a>

    </div>
    <span class="nav-toggle" (click)="toggleNav = !toggleNav;" [ngClass]="{ 'is-active': toggleNav }">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu" [ngClass]="{ 'is-active': toggleNav }">

      <a routerLink="/"
        [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="is-active"
         class="nav-item is-tab is-hidden-tablet">
        Home
      </a>

      <a routerLink="/about"
        [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="is-active"
         class="nav-item is-tab is-hidden-tablet">
        About
      </a>

      <a class="nav-item is-tab">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="http://bulma.io/images/jgthms.png">
        </figure>
        Profile
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>
